<carousel>
    <slide>
        <img src="assets/images/hero1.jps" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero2.jps" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero3.jps" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justifiy-content-center pt-4">
        <h1>Welcome to the Shop!</h1>
    </div>
</section>